Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

fixed pre commit file
  .pre-commit-config.yaml
  stem/model.py
  stem/utils.py
Due: yapf

fixed multistage uvec
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/uvec.py
  stem/stem.py
Due: yapf, mypy, flake8

WIP
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
  stem/stem.py
Due: yapf, mypy, flake8

fixed windows test for train on embankment 3d
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

updated uvec test
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_200.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_240.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_280.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_320.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_360.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_440.vtk
  benchmark_tests/test_sdof_uvec_beam/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_sdof_uvec_beam/test_sdof_uvec.py
Due: yapf

updated test files
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
Due: none

removed ref to branch
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

fixed missing import
  stem/model.py
  stem/stem.py
Due: yapf, mypy, flake8

fixed multistage for regular moving loads
  requirements.txt
  requirements_dev.txt
  setup.cfg
  stem/IO/kratos_loads_io.py
  stem/stem.py
Due: yapf, mypy, flake8

fixed test for moving load dict
  tests/test_data/expected_load_parameters_no_table.json
  tests/test_data/expected_load_parameters_with_table.json
Due: none

ran precommit
  benchmark_tests/test_multi_stage/test_multistage_block.py
  benchmark_tests/test_sdof_uvec_beam/uvec_ten_dof_vehicle_2D/uvec.py
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/base_model.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/newmark_solver.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/uvec.py
  stem/mesh.py
  stem/model.py
  stem/stem.py
  tests/test_model.py
Due: yapf, mypy, flake8

cleanup
  stem/stem.py
Due: yapf, mypy, flake8

added tests for mesh equality
  tests/test_mesh.py
Due: yapf

removed unused import
  tests/test_mesh.py
Due: yapf

removed modelpart name setter
  stem/model_part.py
Due: yapf

removed stem.py from codecov ignore
  codecov.yml
Due: none

added tests for stem.py
  tests/test_stem.py
Due: yapf

added tests for run stage
  tests/test_stem.py
  tests/utils.py
Due: yapf

added tests for finalise, run stages and __check_if_mesh_between_stages_is_the_same and
  tests/test_stem.py
Due: yapf

added test for transfering vtk files to main output directory
  tests/test_stem.py
Due: yapf

added test for setting output name
  tests/test_stem.py
Due: yapf

commented test out to check pipeline
  tests/test_stem.py
Due: yapf

Add __init__ documentation to the build
  docs/conf.py
Due: yapf

added serial mark to pytest
  requirements_dev.txt
  setup.cfg
  tests/test_stem.py
  tox.ini
Due: yapf

removed codecov from toml
  pyproject.toml
Due: none

ran precommit
  tests/utils.py
Due: yapf

removed thread lock
  tests/test_stem.py
Due: yapf

removed pytest-xdist from requirements
  requirements_dev.txt
  setup.cfg
  tests/test_stem.py
  tox.ini
Due: yapf

removed show plot in benchmark test
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
Due: yapf

added assert files for test multistage block
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_1.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_11.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_12.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_13.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_14.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_15.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_16.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_17.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_18.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_19.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_2.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_21.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_22.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_23.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_3.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_4.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_5.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_6.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_7.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_8.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_9.vtk
  benchmark_tests/test_multi_stage/test_multistage_block.py
Due: yapf

added assert file for test multistage uvec
  benchmark_tests/test_moving_load_on_track_on_soil/test_moving_load_on_track_on_soil.py
  benchmark_tests/test_sdof_uvec_beam/test_sdof_uvec.py
  benchmark_tests/test_sdof_uvec_beam_multistage/output_/expected_results.txt
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/uvec.py
  benchmark_tests/utils.py
Due: yapf

corrected multistage uvec benchmark test file
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
Due: yapf

added benchmark test moving load on beam multistage
  benchmark_tests/test_beam_multistage/test_beam_multistage.py
Due: yapf

added benchmark test moving load on beam multistage
  benchmark_tests/test_beam_multistage/output_/expected_output_moving_load.json
  benchmark_tests/test_beam_multistage/output_/expected_output_moving_load_stage_2.json
  benchmark_tests/test_beam_multistage/test_beam_multistage.py
  stem/output.py
  stem/stem.py
Due: yapf, mypy, flake8

added docstrings
  stem/model_part.py
  stem/output.py
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

correct suffix in json output
  stem/stem.py
Due: yapf, mypy, flake8

Lamb solution
  analytical_solutions/Lamb.py
Due: yapf

style changes to Lamb
  analytical_solutions/Lamb.py
Due: yapf

moved Lamb file
  benchmark_tests/analytical_solutions/Lamb.py
Due: yapf

added file to check abs boundaries
  benchmark_tests/test_1d_wave_prop_drained_soil_abs/run_1d_wave_prop_drained_soil.py
Due: yapf

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ./stem and \.py$
  flake8: any of: ./stem
